<template>
	<div class="col__inner">
		<create :show.sync="showAnswer" @close="close" @update="getAnswers" :answerData="selectedAnswer" :create="create" :question="selectedQuestion"></create>

		<h1>Answers</h1>
		<div id="top-buttons">
			<button v-on:click="createAnswer" id="create-answer" class="div-button">Add</button>
			<button v-if="selectedAnswer !== null" v-on:click="editAnswer" id="edit-answer" class="div-button">Edit</button>
		</div>
		<div id="message" v-if="answers == null">
			<h2>There are no answers for this question yet. Create some.</h2>
		</div>
		<component tag="div" @click.native="selectAnswer(answer.answerData)" v-for="answer in answers"  :is="answer.Answer" :selected="answer.selected" :answerData="answer.answerData" :key="answer.answerData.id"></component>
	</div>
</template>

<script>
	import { api } from '@/main.js';
	import Answer from '@/components/admin/answers/Show';
	import Create from '@/components/admin/answers/Create';

	export default {
		name: 'answers',
		components: {
			Answer,
			Create		
		},
		props: ['show', 'question', 'quiz'],
		data() {
			return {
				create: false,
				selectedQuestion: null,
				selectedQuiz: null,
				answers: [],
				showAnswer: false,
				selectedAnswer: null
			}
		},
		methods: {
			// Closes the modal and resets create to false
			close: function() {
				this.showAnswer = false;
			},
			// Shows empty modal if a question is selected
			createAnswer: function() {
				if (this.selectedQuestion == null) {
					alert('You need to select a question before you can add answers to it')
				} else {
					this.create = true;
					this.showAnswer = true;
				}	
			},
			// Get questions for quiz id
			getAnswers: function() {
				var returnArray = [];
				var selected = [{ selected: false }];
				api.get('answers/question/' + this.selectedQuestion.id)
				.then(response => {
					var returnData = response.data;
					returnData.forEach(function(answerData) {
						returnArray.push({ Answer, answerData, selected });
					})
					this.answers = returnArray;
				})
				.catch(error => {
					// Don't show error - just set answers and selectedAnswer to null
					this.answers = null;
					this.selectedAnswer = null;
				});
			},
			// Triggered from emit in Show.vue. Parameter is question id.
			editAnswer: function() {
				api.get('answers/' + this.selectedAnswer.id + '/edit')
				.then(response => {
					this.create = false;
					this.selectedAnswer = response.data;
					this.showAnswer = true;
				})
				.catch(error => {
					console.log(error);
				});
			},
			selectAnswer: function(input) {
				this.selectedAnswer = input;
				this.answers.forEach(function(answer) {
					if (answer.answerData.id == input.id) {
						answer.selected = true;
                    }
                    else {
                    	answer.selected = false;
                    }
                });

				// Emit the id to Edit.vue
                this.$emit('select', input);
            }
        },
		watch: {
			question: function() {
				this.selectedAnswerId = null;
				this.selectedQuestion = this.question;
				this.selectedQuiz = this.quiz;
				this.getAnswers();
			}
		}
	}
</script>

<style scoped>
	#top-buttons {
		padding: 20px 0px;
	}

	#top-buttons button {
		margin-right: 20px;
	}

	#message {
		padding: 10px 5px;
		text-align: center;
	}
</style>