<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" v-bind:class="{ width: selectedAnswer.media_type !== -1 }" id="answer" @click.stop>
					<h1 v-if="create == true">
						Create answer
					</h1>
					<h1 v-else>
						Edit answer
					</h1>
					<div v-bind:class="{ 'grid-equalHeight': selectedAnswer.media_type !== -1 }">
						<div v-bind:class="{ col: selectedAnswer.media_type !== -1 }">
							<div v-bind:class="{ 'col__inner': selectedAnswer.media_type !== -1 }">
								<div>
									<h2>
										Answer
									</h2>
									<textarea name="answer" v-model="selectedAnswer.answer" id="answer-input" cols="3" autofocus></textarea>
								</div>

								<h2>
									Media type
								</h2>
								<select v-model="selectedAnswer.media_type" name="media-type" id="media-type">
									<option v-for="type in mediaTypes" v-bind:value="type.key">
										{{ type.label }}
									</option>
								</select>
							</div>
							<div class="col__inner">
								<h2>
									Correct
								</h2>
								<div class="correct flex">
									<input type="checkbox" id="correctCheckbox" v-model="correct">
									<label for="correctCheckbox"></label>
								</div>
							</div>
						</div>
						<div v-if="selectedAnswer.media_type !== -1" class="col" id="media">
							<div class="col__inner" id="media-wrapper">
								<addMedia :input="selectedAnswer" :mediaType="selectedAnswer.media_type" @updateMessage="setUpdateMessage" @validateMedia="validateMedia"></addMedia>
							</div>
						</div>
					</div>
					<div class="flex" id="footer">
						<div v-if="create == true">
							<button v-on:click="saveAnswer" id="save" class="div-button">Save</button>	
						</div>
						<div v-else>
							<button v-on:click="updateAnswer" id="update" class="div-button">Update</button>
							<button v-on:click="deleteAnswer" id="delete" class="div-button">Delete</button>
						</div>
						<div v-bind:class="{ 'hidden': updateMessage.visible == false }" id="message">
							<p>{{ updateMessage.message }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import { api } from '@/main.js';
	import { getIdFromURL } from 'vue-youtube-embed';
	import AddMedia from '@/components/admin/AddMedia';

	var moment = require('moment');

	export default {
		name: 'create-answer',
		props: ['show', 'answerData', 'create', 'question'],
		components: { AddMedia },
		data() {
			return {
				correct: false,
				mediaTypes: [
				{ label: "None", key: -1 },
				{ label: "Image", key: 0 },
				{ label: "Video", key: 1 }
				],
				selectedAnswer: [],
				updateMessage: {
					message: '',
					visible: false
				},
				validUrl: false
			}
		},
		methods: {
			close: function () {
				this.$emit('close');
			},
			deleteAnswer: function() {
				// Shows confirmation box before deleting the selected quiz
				if (confirm('Are you sure you want to delete the answer?')) {
					api.delete('answers/' + this.selectedAnswer.id)
					.then(response => {
						if (response.data.message == 'deleted') {
							this.$emit('update');
							this.close();
						} else {
							// Show all errors in an alert
							var errors = 'The following errors were encountered:\n';

							Object.values(response.data.errors).forEach(function(error) {
								errors += error.toString() + '\n';
							})

							this.setUpdateMessage('Could not delete');
							alert(errors);
						}
					})
					.catch(error => {
						console.log(error);
						this.setUpdateMessage('Could not delete');
					});
				}
			},
			hideUpdateMessage: function() {
				// Hides updateMessage
				this.updateMessage.visible = false;
			},
			loadImage: function () {
				this.imageUrl = this.mediaUrlInput;
			},
			saveAnswer: function() {
				// Save question. Using FormData for POST method in API
				const data = new FormData();

				// Append all the data
				data.append('answer', this.selectedAnswer.answer.trim());
				data.append('correct', +this.correct);

				if (this.selectedAnswer.media_type !== -1) {
					data.append('media_url', this.validUrl);
					data.append('media_type', this.selectedAnswer.media_type);
				}
				
				data.append('question_id', this.question.id);
				data.append('position', 0);

				api.post('answers', data)
				.then(response => {
					if (response.data.message == 'created') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Answer created');
						setTimeout(this.$emit('update'), 1000);
						this.close();
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('Could not save');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not save');
				});
			},
			setUpdateMessage: function(input) {
				// Sets the update message and hides it after a delay in milliseconds
				var delay = 3500;

				this.updateMessage.message = input;
				this.updateMessage.visible = true;

				setTimeout(this.hideUpdateMessage, delay);
			},
			updateAnswer: function() {
				// Update question if create prop is false. Done using URLSearchParams because of PUT method in API
				const data = new URLSearchParams();

				// Append all the data
				data.append('answer', this.selectedAnswer.answer.trim());
				data.append('correct', +this.correct);
				data.append('id', this.selectedAnswer.id);

				if (this.selectedAnswer.media_type !== -1) {
					if (this.validUrl !== false) {
						data.append('media_url', this.validUrl);
						data.append('media_type', this.selectedAnswer.media_type);
					}
				}
				
				data.append('question_id', this.question.id);
				data.append('position', 0);

				api.put('answers/' + this.selectedAnswer.id, data)
				.then(response => {
					if (response.data.message == 'updated') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Answer updated');
						this.$emit('update');
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('Could not update');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not update');
				});
			},
			validateMedia: function(url) {
				this.validUrl = url;
			}
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		},
		watch: {
			answerData: function() {
				// Keep selectedQuestion in sync if changed by Questions.vue
				if (this.answerData !== null && this.create == false) {
					this.selectedAnswer = this.answerData;

					// Check if has media and set media_type acordingly
					if (this.selectedAnswer.media_id == null) {
						this.selectedAnswer.media_type = -1;
					}
				}
			},
			create: function() {
				// If create prop is true, initialize empty question
				if (this.answerData !== null && this.create == false) {
					// If question recieved as prop, set selectedQuestion as that question and refresh the image preview
					this.selectedAnswer = this.answerData;

				} else {
					// Else set selectedQuestion as empty and clear the image preview
					this.selectedAnswer = {
						description: '',
						media_type: -1,
						media_url: '',
						title: ''
					}
				}
			}
		}
	}
</script>

<style scoped>
	.modal-container {
		width: 300px;
	}

	#answer-wrapper {

	}

	#answer {
		margin: none;
	}

	textarea {
		display: block;
		width: 100%;
		resize: none;
	}

	#media-type {
		width: 100%;
	}

	#correctCheckbox {
		visibility: hidden;
	}

	.correct {
		padding: 10px 10px;
		vertical-align: middle;
	}

	.correct label {
		vertical-align: middle;
		cursor: pointer;
		position: absolute;
		width: 30px;
		height: 30px;
		border: 1px solid #a6a6a6;
		border-radius: 5px;
	}

	.correct label:after {
		opacity: 0;
		content: '';
		position: absolute;
		width: 12px;
		height: 6px;
		background: transparent;
		top: 7px;
		left: 7px;
		border: 3px solid #333;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
	}

	.correct label:hover::after {
		opacity: 0.3;
	}

	.correct input[type=checkbox]:checked + label:after {
		opacity: 1;
	}
	
	#media-wrapper {
		transition: .5s;
		height: 100%;
	}

	#media {
		width: 60%;
	}

	#media-url {
		margin-top: 6px;
		display: flexbox;
		justify-content: space-between;
	}

	#url-input {
		margin-right: 10px;
	}

	#media-preview {
		height: 200px;
		display: -webkit-box;
		background-color: #eff2f7;
		padding: 20px 20px;
		overflow: hidden;
	}

	.displayGrid {
		display: grid !important;
	}

	#media-preview img {
		object-fit: cover;
		max-height: 100%;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
		display: block;
	}

	.video {
		margin: none;
	}

	#footer {
		justify-content: space-between;
	}

	#save {
		width: 100px;
		margin-right: 20px;
	}

	.width {
		transition: .5s;
		width: 600px !important;
	}

	#message {
		transition: .5s;
	}

	.hidden {
		opacity: 0;
		transition: .5s;
	}
</style>