<template>
	<div id="answer" v-bind:class="{ selected: selected == true }" class="flex">
		<div id="title">
			<h2>{{ answerData.answer }}</h2>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'answer',
		props: ['answerData', 'selected']
	}
</script>

<style scoped>
	#answer {
		padding: 20px 20px;
		min-height: 60px;
		width: 100%;
		background-color: #eff2f7;
		margin-bottom: 20px;
		justify-content: space-between;
		align-items: center;
	}

	#answer:hover {
        cursor: pointer;
    }

	.selected {
        transition: .1s;
        background-color: #D3DCE6 !important;
    }
</style>