<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" id="quiz-wrapper" @click.stop>
					<h1 v-if="quiz == null">
						Create quiz
					</h1>
					<h1 v-else>
						Edit quiz
					</h1>
					<div class="grid-equalHeight">
						<div class="col" id="quiz">
							<div class="col__inner">
								<div>
									<h2>
										Title
									</h2>
									<input type="text" v-model="selectedQuiz.name" name="title" id="quiz-title" autofocus>
								</div>
								<div>
									<h2>
										Description
									</h2>
									<div id="quiz-description">
										<textarea name="description" v-model="selectedQuiz.description" id="quiz-description" cols="3"></textarea>
									</div>
								</div>
								<div>
									<h2>
										Topic
									</h2>
									<select name="topic" id="topic" v-model="selectedQuiz.topic_id">
										<option v-if="selectedQuiz == null" disabled value="">Please select a topic</option>
										<option v-for="topic in topics" v-bind:value="topic.id" >
											{{ topic.name }}
										</option>
									</select>
								</div>
								<div class="grid-2">
									<div class="col">
										<div class="col__inner">
											<h2>
												Experience
											</h2>
											<input type="number" v-model="selectedQuiz.experience" name="experience" id="quiz-experience">
										</div>
									</div>
									<div class="col">
										<div class="col__inner">
											<h2>
												Sticky
											</h2>
											<div class="sticky flex">
												<input type="checkbox" id="stickyCheckbox" v-model="sticky">
												<label for="stickyCheckbox"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col" id="image">
							<div class="col__inner">
								<h2>
									Thumbnail
								</h2>
								<div class="image-preview">
									<img v-if="validUrl !== false" v-bind:src="validUrl">
								</div>
								<h2>
									URL
								</h2>
								<div id="image-url" class="flex">
									<input v-model="imageUrlInput" id="url-input" type="text">
									<button class="div-button" v-on:click="loadImage">Load</button>
								</div>
							</div>
						</div>
					</div>
					<div class="flex" id="footer">
						<div>
							<button v-if="quiz !== null" v-on:click="updateQuiz" id="update" class="div-button">Update</button>
							<button v-else v-on:click="saveQuiz" id="save" class="div-button">Save</button>
							<button v-if="quiz !== null" v-on:click="deleteQuiz" id="delete" class="div-button">Delete</button>
							<router-link :to="{ name: 'edit-quiz', params: { quiz: quiz } }" v-if="quiz !== null" tag="button" class="div-button">Edit questions</router-link>
						</div>
						<div v-bind:class="{ 'hidden': updateMessage.visible == false }" id="message">
							<p>{{ updateMessage.message }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import { api } from '@/main.js';

	// Import moment.js for a simple way of working with datetimes and their formats
	var moment = require('moment');

	export default {
		name: 'create',
		props: ['show', 'quiz'],
		data() {
			return {
				selectedQuiz: [],
				imageUrlInput: '',
				sticky: false,
				topics: [],
				updateMessage: {
					message: '',
					visible: false
				},
				validUrl: false
			}
		},
		methods: {
			validateImage: function(imageUrl) {
				var img = new Image();
				img.src = imageUrl;

				if (img.height != 0) {
					// Valid
					this.validUrl = imageUrl;
				} else {
					// Invalid
					this.validUrl = false;
					this.setUpdateMessage('Invalid URL');
				}
			},
			close: function () {
				// Actions done when closing the modal
				this.hideUpdateMessage();
				// this.$emit('update');
				this.$emit('close');
			},
			deleteQuiz: function() {
				// Shows confirmation box before deleting the selected quiz
				if (confirm('Are you sure you want to delete the quiz?')) {
					api.delete('quizzes/' + this.selectedQuiz.id)
					.then(response => {
						if (response.data.message == 'deleted') {
							this.$emit('update');
							this.close();
						} else {
							// Show all errors in an alert
							var errors = 'The following errors were encountered:\n';

							Object.values(response.data.errors).forEach(function(error) {
								errors += error.toString() + '\n';
							})

							this.setUpdateMessage('Could not delete');
							alert(errors);
						}
					})
					.catch(error => {
						console.log(error);
						this.setUpdateMessage('Could not delete');
					});
				}
			},
			hideUpdateMessage: function() {
				// Hides updateMessage
				this.updateMessage.visible = false;
			},
			getTopics: function() {
				// Gets the topics from the API
				api.get('topics')
				.then(response => {
					this.topics = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			loadImage: function () {
				// Loads the image and tries to validate the URL
				if(this.validateImage(this.imageUrlInput) == false) {
					this.updateMessage = 'Invalid URL';
				}
			},
			setUpdateMessage: function(input) {
				// Sets the update message and hides it after a delay in milliseconds
				var delay = 3500;

				this.updateMessage.message = input;
				this.updateMessage.visible = true;

				setTimeout(this.hideUpdateMessage, delay);
			},
			saveQuiz: function() {
				// Save quiz. Using FormData for POST method in API
				const data = new FormData();

				// Append all the data
				data.append('description', this.selectedQuiz.description.trim());
				data.append('experience', this.selectedQuiz.experience);

				// Check valid image
				if (this.validUrl !== false) {
					data.append('media_url', this.validUrl);
				}

				data.append('name', this.selectedQuiz.name.trim());
				data.append('published_at', moment().format("YYYY-MM-DD HH:mm:ss"));
				data.append('topic_id', this.selectedQuiz.topic_id);
				data.append('slug', this.slug);
				data.append('sticky', +this.sticky); // + converts bool to 1 or 0

				api.post('quizzes', data)
				.then(response => {
					// console.log(response.data);
					if (response.data.message == 'created') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Quiz created');
						setTimeout(this.$emit('update'), 1000);
						this.close();
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('Could not save');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not save');
				});
			},
			updateQuiz: function() {
				// Update quiz if the quiz prop is set. Done using URLSearchParams because of PUT method in API
				const data = new URLSearchParams();

				// Append all the data
				data.append('description', this.selectedQuiz.description.trim());
				data.append('experience', this.selectedQuiz.experience);

				// Check valid image
				if (this.validUrl !== false) {
					data.append('media_url', this.validUrl);
				}

				data.append('name', this.selectedQuiz.name.trim());
				data.append('published_at', moment().format("YYYY-MM-DD HH:mm:ss"));
				data.append('topic_id', this.selectedQuiz.topic_id);
				data.append('slug', this.slug);
				data.append('sticky', +this.sticky); // + converts bool to 1 or 0
				data.append('id', this.selectedQuiz.id);
				data.append('media_id', this.selectedQuiz.media_id);

				api.put('quizzes/' + this.selectedQuiz.slug, data)
				.then(response => {
					if (response.data.message == 'updated') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Quiz updated');
						this.$emit('update');
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('The quiz could not be updated');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not update');
				});
			}
		},
		mounted() {
			this.getTopics();
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		},
		computed: {
			publishedAt: function() {
				return moment().format("YYYY-MM-DD HH:mm:ss");
			},
			slug: function() {
				// Generates the slug from quiz.name as a computed property
				var returnString = this.selectedQuiz.name.toString().toLowerCase()

				.replace(/\s+/g, '-')           // Replace spaces with -
				.replace(/[^\w\-]+/g, '')       // Remove all non-word chars
				.replace(/\-\-+/g, '-')         // Replace multiple - with single -
				.replace(/^-+/, '')             // Trim - from start of text
				.replace(/-+$/, '')             // Trim - from end of text
				.replace(/[\s_-]+/g, '-');

				return returnString;
			},
			stickyBool: function() {
				if (this.quiz.sticky == 1) {
					return true;
				} else {
					return false;
				}
			}
		},
		watch: {
			quiz: function() {
				if (this.quiz !== null) {
					// If quiz recieved as prop, set selectedQuiz as that quiz and refresh the image preview
					this.selectedQuiz = this.quiz;

					// Convert 1 or 0 from quiz to true or false
					this.sticky = this.stickyBool;

					this.imageUrlInput = this.quiz.media_url;

					// Refresh image preview
					this.loadImage();
				} else {
					console.log('empty quiz')
					// Else set selectedQuiz as empty and clear the image preview
					this.selectedQuiz = {
						description: '',
						experience: 0,
						media_url: '',
						name: '',
						topic_id: ''
					}

					this.sticky = false;
					this.imageUrlInput = '';

					// Clear image preview
					this.loadImage();
				}
			}
		}
	}
</script>

<style scoped>
	.modal-container {
		line-height: 50px;
	}

	[class*=col-], [class^=col] {
		padding: 0 .5rem .5rem;
	}

	#quiz-wrapper {
		width: 800px;
		/*height: 100%;*/
	}

	#quiz {
		width: 40%;
		height: 100%;
		margin: none;
	}

	#quiz-description {
		display: block;
		width: 100%;
		resize: none;
	}

	#stickyCheckbox {
		visibility: hidden;
	}

	.sticky {
		padding: 10px 10px;
		vertical-align: middle;
	}

	.sticky label {
		vertical-align: middle;
		cursor: pointer;
		position: absolute;
		width: 30px;
		height: 30px;
		border: 1px solid #a6a6a6;
		border-radius: 5px;
	}

	.sticky label:after {
		opacity: 0;
		content: '';
		position: absolute;
		width: 12px;
		height: 6px;
		background: transparent;
		top: 7px;
		left: 7px;
		border: 3px solid #333;
		border-top: none;
		border-right: none;

		transform: rotate(-45deg);
	}

	.sticky label:hover::after {
		opacity: 0.3;
	}

	.sticky input[type=checkbox]:checked + label:after {
		opacity: 1;
	}

	#image {
		width: 60%;
		height: 100%;
	}

	#image-url {
		margin-top: 6px;
		display: flexbox;
		justify-content: space-between;
	}

	#url-input {
		margin-right: 10px;
	}

	.image-preview {
		height: 268px;
		background-color: #eff2f7;
		padding: 20px 20px;
		margin: 5px 0px 3px 0px;
		width: 100%;
		overflow: hidden;
	}

	.image-preview img {
		object-fit: cover;
		max-height: 100%;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
		display: block;
	}

	#footer {
		justify-content: space-between;
	}

	#footer button {
		min-width: 100px;
		margin-right: 20px;
	}

	#message {
		transition: .5s;
	}

	.hidden {
		opacity: 0;
		transition: .5s;
	}
</style>