<template>
	<div class="content-wrapper right">
		<div class="top-bar flex-center">
			<div class="left">
				<h1>
					Edit questions - {{ selectedQuiz.name }}
				</h1>
			</div>
		</div>
		<div class="content">
			<div class="grid-2">
				<div class="col">
					<questions :quiz="selectedQuiz" @select="selectQuestion"></questions>
				</div>
				<div class="col">
					<answers :quiz="selectedQuiz" :question="selectedQuestion"></answers>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {api} from '@/main.js';
	import Questions from '@/components/admin/questions/Questions';
	import Answers from '@/components/admin/answers/Answers';

	export default {
		name: 'edit-quiz',
		components: {
			Questions,
			Answers			
		},
		props: ['show'],
		data() {
			return {
				selectedQuiz: [],
				selectedQuestion: null,
				showModal: false,
				showQuestion: false
			}
		},
		methods: {
			close: function() {
				this.showQuestion = false;
			},
			createQuestion: function() {
				this.selectedQuestion = null;
				this.showQuestion = true;
			},
			// Load quiz from parameters in $route
			loadQuiz: function() {
				if (this.$route.params.quiz !== undefined) {
					this.selectedQuiz = this.$route.params.quiz;
				} else {
					// Redirect if there's no quiz selected
					this.$router.push({ name: 'quizzes' });
				}
			},
			// Sets the selected question as questionData from recieved emit
			selectQuestion: function(input) {
				this.selectedQuestion = input;
			}
		},
		mounted() {
			this.loadQuiz();			
		},
		watch: {
			// Look for parameter changes and call loadQuiz if necessary
			$route: function() {
				this.loadQuiz();
			}
		}
	}
</script>

<style scoped>
	.content {
		width: 100%;
	}
</style>

</script>