<template>
	<div class="content-wrapper right">
		<div class="top-bar flex-center">
			<div class="left">
				<h1>
					Quizzes
				</h1>
			</div>
			<div class="right">
				<div id="create-button" v-on:click="createQuiz()" tag="i" class="fa fa-plus fa-button"></div>
			</div>
		</div>
		<!-- Modal for creating and editing quizzes. selectedQuiz passed as a prop -->
		<create :show.sync="showModal" @close="showModal = false" @update="getQuizzes" :quiz="selectedQuiz"></create>
		<div class="content">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Experience</th>
							<th>Slug</th>
							<th>Sticky</th>
							<th>Topic</th>
							<th>Questions</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="quiz in quizzes" @click="editQuiz(quiz.slug)" v-model="selectedQuiz">
							<td>{{ quiz.name }}</td>
							<td>{{ quiz.experience }}</td>
							<td>{{ quiz.slug }}</td>
							<td v-if="quiz.sticky == 1">Yes</td>
							<td v-else>No</td>
							<td>{{ quiz.topic_name }}</td>
							<td>{{ quiz.questions }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	import { api } from '@/main.js';
	import Create from '@/components/admin/quizzes/Create';

	export default {
		name: 'quizzes',
		components: { Create },
		data() {
			return {
				quizzes: [],
				topics: [],
				selectedQuiz: '',
				selectedTopic: 0,
				showModal: false,
				topicName: ''
			}
		},
		methods: {
			getQuizzes: function() {
				// Clear before when updating
				api.get('quizzes').then(response => {
					this.quizzes = [];
					this.quizzes = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			createQuiz: function() {
				this.selectedQuiz = null;
				this.showModal = true;
			},
			getTopicName: function(input) {
				var index = this.topics.map(function(topic) {
					return topic.id
				})
				.indexOf(input);

				this.topicName = index;
			},
			getTopics: function() {
				api.get('topics')
				.then(response => {
					this.topics = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			editQuiz: function(input) {
				// Input is the slug of the selected quiz
				api.get('quizzes/' + input + '/edit')
				.then(response => {
					this.selectedQuiz = response.data;
					this.showModal = true;
				})
				.catch(error => {
					console.log(error);
				});				
			}
		},
		mounted() {
			this.getQuizzes();
			this.getTopics();
		}
	}
</script>