<template>
	<div>
		<h2 v-if="input.media_type == 0">
			Image
		</h2>
		<h2 v-else>
			Video
		</h2>
		<div id="media-preview" v-bind:class="{ 'displayGrid': input.media_type == 1 }">
			<!-- Show video preview -->
			<youtube v-if="videoId !== null && input.media_type == 1" :video-id="videoId" player-width="100%" player-height="100%" showinfo="0" modestbranding="1"></youtube>

			<!-- Show image preview -->
			<img v-if="input.media_url != null && input.media_type == 0" v-bind:src="imageUrl">
		</div>
		<h2>
			URL
		</h2>
		<div id="media-url" class="flex">
			<input v-model="input.media_url" id="url-input" type="text">
			<button class="div-button" v-on:click="loadInput">Load</button>
		</div>
	</div>
</template>

<script>
	import { getIdFromURL } from 'vue-youtube-embed';

	export default {
		props: ['input', 'mediaType'],
		name: 'add-media',
		data() {
			return {
				imageUrl: null,
				isValid: false,
				videoId: ''
			}
		},
		methods: {
			validateImage: function(imageUrl) {
				// Validates image URL
				var img = new Image();
				img.src = imageUrl;

				if (img.height != 0) {
					// Valid
					this.imageUrl = this.input.media_url;
					this.isValid = true;
					this.$emit('validateMedia', this.input.media_url);
				} else {
					// Invalid
					this.$emit('updateMessage', 'Invalid URL');
					this.$emit('validateMedia', null);
				}
			},
			validateVideo: function() {
				// Validates youtube link
				var videoUrl = getIdFromURL(this.input.media_url);

				if (videoUrl !== this.input.media_url) {
					this.videoId = videoUrl;
					this.isValid = true;
					this.$emit('validateMedia', this.input.media_url);
				} else {
					this.$emit('updateMessage', 'Invalid URL');
					this.$emit('validateMedia', null);
				}
			},
			loadInput: function() {
				// Loads the input and checks if the URL is valid

				// Reset data
				this.videoId = null;
				this.imageUrl = null;
				this.isValid = false;

				if (this.input.media_type == 1) {
					// Validate video URL
					this.validateVideo(this.input.media_url);
				} else if (this.input.media_type == 0) {
					// Validate image URL
					this.validateImage(this.input.media_url);
				}
			}
		},
		watch: {
			mediaType: function() {
				this.isValid = false;
				this.$emit('validateMedia', null);
				this.loadInput();
			}
		},
		mounted() {
			// Load after a second
			// setTimeout(this.loadInput(), 1000);		
		}
	}
</script>

<style>
	#media-url {
		margin-top: 6px;
		display: flexbox;
		justify-content: space-between;
	}

	#url-input {
		margin-right: 10px;
	}

	#media-preview {
		min-height: 302px;
		background-color: #eff2f7;
		padding: 20px 20px;
		overflow: hidden;
	}

	.displayGrid {
		display: grid !important;
	}

	#media-preview img {
		object-fit: cover;
		max-height: 100%;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
		display: block;
	}

	.video {
		margin: none;
	}
</style>