<template>
    <div id="app">
        <navbar></navbar>
        <sidebar></sidebar>
        <router-view></router-view>    
    </div>
</template>

<script>
    import Navbar from '@/components/public/Navbar'
    import Sidebar from '@/components/admin/Sidebar'
    
    export default {
        name: 'back-end',
        components: {
            Navbar,
            Sidebar
        }
    }
</script>