<template>
	<div class="content-wrapper right">
		<div class="top-bar flex-center">
			<div class="left">
				<h1>
					Classes
				</h1>
			</div>

			<div class="right">
				<a v-on:click="showClassModalNew();" class="fa fa-plus fa-button"></a>
			</div>
		</div>
		<div class="content">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Slug</th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="theClass in classes" 
								v-on:click="showClassModalSelected(theClass);">
							<td>{{ theClass.id }}</td>
							<td>{{ theClass.name }}</td>
							<td>{{ theClass.slug }}</td>
						</tr>
					</tbody>
				</table>
				<div v-if="selectedClass !== 0">
				</div>
			</div>

			<add_class v-bind:show.sync="showModal" @close="showModal = false" 
					v-bind:selectedClass="selectedClass"></add_class>

		</div>
	</div>

</template>

<script>
	import {api} from '@/main.js';
	import Add_class from '@/components/Add-class';

	export default {
		name: 'Classes',
		data () {
			return {
				classes: [],
				selectedClass: 0,
				showModal:false,
			}
		},
		components: {
			Add_class
		},
		methods: {
			getClasses: function() {
				api.get('topics').then(response => {
					//console.log(response.data);
					this.classes = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			showClassModalNew: function() {
				this.showModal=true;
				this.selectedClass='';
			},
			showClassModalSelected: function(theClass) {
				this.showModal=true;
				this.selectedClass=theClass;
			}
		},
		mounted () {
			this.getClasses()
		}
	}
</script>