<template>
	<aside class="sidebar">
		<div>
			<h1>Quiz</h1>
		</div>
		<div class="sidebar-buttons">
			<!-- <router-link to="/dashboard" tag="div">Dashboard</router-link> -->
			<router-link :to="{ name: 'quizzes' }" tag="div">Quizzes</router-link>
			<router-link :to="{ name: 'classes' }" tag="div">Classes</router-link>
			<router-link :to="{ name: 'students' }" tag="div">Students</router-link>
			<router-link :to="{ name: 'topics' }" tag="div">Topics</router-link>
			
			<router-link to="" tag="div">Staff</router-link>
		</div>
	</aside>
</template>

<script>
	export default {
		name: 'sidebar'
	}
</script>

<style scoped>
	.sidebar {
		margin-top: 70px;
		padding-top: 5px;
		text-indent: 25px;
		position: fixed;
		background: #1f2d3d;
		width: 200px;
		color: #e5e9f2;
		font-size: 20px;
		height: 100%;
	}

	.sidebar h1 {
		color: #ffffff;
		font-size: 20px;
		font-weight: normal;
		padding: 20px 0px 25px 0px;
	}

	.sidebar a {
		color: #ffffff;
		font-weight: 500;
		text-decoration: none;
	}

	.sidebar-buttons div {
		padding: 20px 0px;
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 100;
	}

	.sidebar-buttons div:last-of-type {
		position: relative;
		top: 100px;
	}

	.sidebar-buttons div:hover {
		background-color: #475669;
		cursor: pointer;
		transition: 0.1s;
	}
</style>