<template>
	<div class="content-wrapper right">
		<div class="top-bar flex-center">
			<div class="left">
				<h1>
					Students
				</h1>
			</div>

			<div class="right">
				<a v-on:click="showStudentModalNew();" class="fa fa-plus fa-button"></a>
			</div>
		</div>
		<div class="content">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Slug</th>
							<th>Class</th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="theStudent in students" 
								v-on:click="showStudentModalSelected(theStudent);">
							<td>{{ theStudent.id }}</td>
							<td>{{ theStudent.name }}</td>
							<td>{{ theStudent.slug }}</td>
							<td>{{ theStudent.theClass }}</td>
						</tr>
					</tbody>
				</table>
				<div v-if="selectedStudent !== 0">
				</div>
			</div>

			<add_student v-bind:show.sync="showModal" @close="showModal = false" 
					v-bind:selectedStudent="selectedStudent"
					v-bind:students="students"
					v-bind:modalFunction="modalFunction">
			</add_student>

		</div>
	</div>

</template>

<script>
	import {api} from '@/main.js';
	import Add_student from '@/components/Add-student';

	export default {
		name: 'Student',
		data () {
			return {
				students: [],
				selectedStudent: 0,
				showModal:false,
				modalFunction:''
			}
		},
		components: {
			Add_student
		},
		methods: {
			getStudents: function() {
				api.get('topics').then(response => {
					this.students = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			showStudentModalNew: function() {
				this.showModal=true;
				this.selectedStudent=[];
				this.modalFunction='create';
			},
			showStudentModalSelected: function(theStudent) {
				this.showModal=true;
				this.selectedStudent=theStudent;
				this.modalFunction='update';
			}
		},
		mounted () {
			this.getStudents();
		}
	}
</script>