<template>
	<div class="content-wrapper right">
		<div class="top-bar flex-center">
			<div class="left">
				<h1>
					Topics
				</h1>
			</div>
			<div class="right">
				<a v-on:click="showTopicModalNew();" class="fa fa-plus fa-button"></a>
			</div>
		</div>
		<div class="content">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="topic in topics" 
								>
							<td v-on:click="showTopicModalSelected(topic);">{{ topic.name }}</td>
							<td v-on:click="showTopicModalSelected(topic);">{{ topic.description }}</td>
							<td v-on:click="deleteTopic(topic.slug)"><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
				<div v-if="selectedTopic !== 0">
				</div>
			</div>

			<add_topic v-bind:show.sync="showModal" @close="showModal = false" 
					v-bind:selectedTopic="selectedTopic"></add_topic>

		</div>
	</div>

</template>

<script>
	import { api } from '@/main.js';
	import Add_topic from '@/components/Add-topic';

	export default {
		name: 'Topics',
		data () {
			return {
				b:'',
				topics: [],
				selectedTopic: 0,
				showModal:false,
			}
		},
		components: {
			Add_topic
		},
		methods: {
			deleteTopic: function(topic) {
				if (confirm('Are you sure you want to delete this topic?')) {
					var a = this;
					var r = new XMLHttpRequest();
					r.open("DELETE","http://localhost/first-semester/api/index.php/topics/"+topic,true);
					r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					r.setRequestHeader("X-Requested-With", "XMLHttpRequest");					
					r.onreadystatechange = function () {
						if (r.readyState != 4 || r.status != 200) return;
						console.log("Success: " + r.responseText);
						a.getTopics();
					};
					r.send();
				}
			},
			getTopics: function() {
				api.get('topics').then(response => {
					this.topics = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			showTopicModalNew: function() {
				this.showModal=true;
				this.selectedTopic=[];
			},
			showTopicModalSelected: function(topic) {
				this.showModal=true;
				this.selectedTopic=topic;
			}
		},
		mounted () {
			this.getTopics();
			this.b = this;
		}
	}
</script>