/*

## Color scheme ##
Icons:      
Background: #F9FAFC
Grey:       #eff2f7
Deep blue:  #324057
Header:     
Grey:       #a6a6a6

## Sidebar ##
Hover: #475669

## Text ##
h1:         #FFFFFF
Color:      #1F2D3D

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    /*color: #1F2D3D;*/
}

body {
    margin: 0px;
    font-family: arial;
    background-color: #F9FAFC;
}

header {
    margin: none;
    height: 70px;
    background: #324057;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

footer {
    width: 100%;
}

aside {
    margin-top: 0px;
}

input:not([type='checkbox']) {
    border-style: solid;
    border-color: #a6a6a6;
    -webkit-appearance: textfield;
    border-radius: 5px;
    font-size: 16px;
    color: #324057;
    padding: 10px;
    /*margin-right: 10px;*/
    outline: none;
    border-width: 1px;
    width: 100%;
}

select {
    border-style: solid;
    border-color: #a6a6a6;
    -webkit-appearance: textfield;
    border-radius: 5px;
    font-size: 16px;
    color: #324057;
    padding: 10px;
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    width: 100%;
}

textarea {
    border-style: solid;
    border-color: #a6a6a6;
    -webkit-appearance: textfield;
    border-radius: 5px;
    font-size: 16px;
    color: #324057;
    padding: 10px;
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    width: 100%;
}

button {
    border: none;
    border-radius: 0px;
    color: #eff2f7;
    background-color: #324057;
    padding: 15px 25px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #475669;
    color: #eff2f7;
    cursor: pointer;
    opacity: 1;
    transition: 0.1s;
}

table {
    margin-bottom: 20px;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

tbody tr:hover {
    background-color: #eff2f7;
    cursor: pointer;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.inline {
    display: inline-block;
}

.header {
    height: 100%;
    justify-content: space-between;
    border-bottom: 0px;
}

.content-wrapper {
    width: calc(100% - 200px);
    margin: 70px 0px 20px;

}

.top-bar {
    height: 50px;
    width: 100%;
    background: #eff2f7;
    vertical-align: middle;
    line-height: 50px;
    padding: 0px 20px;
}

.top-bar h1 {
    color: #324057;
    font-size: 18px;
    font-weight: 400;
}

.fa-button {
    cursor: pointer;
    font-size: 40px;
}

.div-button {
    cursor: pointer;
    padding: 10px 15px;
}

.content {
    padding: 20px 20px;
}

/*.search {
    -webkit-appearance: textfield;
    background: #e5e9f2;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: 14px;
    color: #324057;
    padding: 10px;
    border: none;
    margin-right: 10px;
    outline: none;
}*/

.logo {
    height: 60px;
    padding: 4px 10px;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

/* ## Modal ## */
.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .2s ease;
}

.modal-wrapper {
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    line-height: 50px;
    /*height: auto;*/
    margin: 0px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin-top: 10px;
}

.modal-footer {
    
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}