<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<!-- v-bind:class="{ 'myClass': true }" -->
				<div class="modal-container" v-bind:class="{ width: selectedQuestion.media_type !== -1 }" id="question-wrapper" @click.stop>
					<h1 v-if="create == true">
						Create question
					</h1>
					<h1 v-else>
						Edit question
					</h1>
					<!-- v-bind:class="{ 'grid-equalHeight': selectedQuestion.media_type !== -1 }" -->
					<div class="grid-equalHeight">
						<div class="col" id="question">
							<div class="col__inner">
								<div>
									<h2>
										Title
									</h2>
									<input type="text" v-model="selectedQuestion.title" name="title" id="question-title" autofocus>
								</div>
								<div>
									<h2>
										Description
									</h2>
									<div id="quiz-description">
										<textarea name="description" v-model="selectedQuestion.description" id="question-description" cols="3"></textarea>
									</div>
								</div>
								<div>
									<h2>
										Explanation
									</h2>
									<div id="quiz-explanation">
										<textarea name="explanation" v-model="selectedQuestion.explanation" id="question-explanation" cols="3"></textarea>
									</div>
								</div>
								<div>
									<h2>
										Media type
									</h2>
									<select v-model="selectedQuestion.media_type" name="media-type">
										<option v-for="type in mediaTypes" v-bind:value="type.key">
											{{ type.label }}
										</option>
									</select>
								</div>
							</div>
						</div>
						<div v-if="selectedQuestion.media_type !== -1" class="col" id="media">
							<div class="col__inner" id="media-wrapper">
								<addMedia :input="selectedQuestion" :mediaType="selectedQuestion.media_type" @updateMessage="setUpdateMessage" @validateMedia="validateMedia"></addMedia>
							</div>
						</div>
					</div>
					<div class="flex" id="footer">
						<div v-if="create == true">
							<button v-on:click="saveQuestion" id="save" class="div-button">Save</button>	
						</div>
						<div v-else>
							<button v-on:click="updateQuestion" id="update" class="div-button">Update</button>
							<button v-on:click="deleteQuestion" id="delete" class="div-button">Delete</button>	
						</div>
						<div v-bind:class="{ 'hidden': updateMessage.visible == false }" id="message">
							<p>{{ updateMessage.message }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import { api } from '@/main.js';
	import { getIdFromURL } from 'vue-youtube-embed';
	import AddMedia from '@/components/admin/AddMedia';	

	var moment = require('moment');

	export default {
		name: 'create-question',
		props: ['show', 'questionData', 'create', 'quiz'],
		components: { AddMedia },
		data() {
			return {
				mediaTypes: [
					{ label: "None", key: -1 },
					{ label: "Image", key: 0 },
					{ label: "Video", key: 1 }
				],
				selectedQuestion: [],
				question: '',
				updateMessage: {
					message: '',
					visible: false
				},
				validUrl: false
			}
		},
		methods: {
			close: function () {
				this.$emit('close');
			},
			deleteQuestion: function() {
				// Shows confirmation box before deleting the selected quiz
				if (confirm('Are you sure you want to delete the question?')) {
					api.delete('questions/' + this.selectedQuestion.id)
					.then(response => {
						if (response.data.message == 'deleted') {
							this.$emit('update');
							this.close();
						} else {
							// Show all errors in an alert
							var errors = 'The following errors were encountered:\n';

							Object.values(response.data.errors).forEach(function(error) {
								errors += error.toString() + '\n';
							})

							this.setUpdateMessage('Could not delete');
							alert(errors);
						}
					})
					.catch(error => {
						console.log(error);
						this.setUpdateMessage('Could not delete');
					});
				}
			},
			hideUpdateMessage: function() {
				// Hides updateMessage
				this.updateMessage.visible = false;
			},
			saveQuestion: function() {
				// Save question. Using FormData for POST method in API
				const data = new FormData();

				// Append all the data
				data.append('title', this.selectedQuestion.title.trim());
				data.append('description', this.selectedQuestion.description.trim());
				data.append('explanation', this.selectedQuestion.explanation.trim());

				if (this.selectedQuestion.media_type !== -1) {
					data.append('media_url', this.validUrl);
					data.append('media_type', this.selectedQuestion.media_type);
				}
				
				data.append('quiz_id', this.quiz.id);
				data.append('position', 0);

				api.post('questions', data)
				.then(response => {
					// console.log(response.data);
					if (response.data.message == 'created') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Question created');
						setTimeout(this.$emit('update'), 1000);
						this.close();
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('Could not save');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not save');
				});
			},
			setUpdateMessage: function(input) {
				// Sets the update message and hides it after a delay in milliseconds
				var delay = 3500;

				this.updateMessage.message = input;
				this.updateMessage.visible = true;

				setTimeout(this.hideUpdateMessage, delay);
			},
			updateQuestion: function() {
				// Update question if create prop is false. Done using URLSearchParams because of PUT method in API
				const data = new URLSearchParams();

				// Append all the data
				data.append('description', this.selectedQuestion.description.trim());
				data.append('explanation', this.selectedQuestion.explanation.trim());
				data.append('id', this.selectedQuestion.id);

				if (this.selectedQuestion.media_type !== -1) {
					if (this.validUrl !== false) {
						data.append('media_url', this.validUrl);
						data.append('media_type', this.selectedQuestion.media_type);
					}
				}

				data.append('position', 0);
				data.append('quiz_id', this.quiz.id);
				data.append('title', this.selectedQuestion.title.trim());

				api.put('questions/' + this.selectedQuestion.id, data)
				.then(response => {
					if (response.data.message == 'updated') {
						// Show success message and send an emit to update the quizzes in Quizzes.vue
						this.setUpdateMessage('Question updated');
						this.$emit('update');
					} else {
						// Show all errors in an alert
						var errors = 'The following errors were encountered:\n';

						Object.values(response.data.errors).forEach(function(error) {
							errors += error.toString() + '\n';
						})

						this.setUpdateMessage('Could not update');
						alert(errors);
					}
				})
				.catch(error => {
					console.log(error);
					this.setUpdateMessage('Could not update');
				});
			},
			validateMedia: function(url) {
				this.validUrl = url;
			}
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		},
		watch: {
			questionData: function() {
				// Keep selectedQuestion in sync if changed by Questions.vue
				if (this.questionData !== null && this.create == false) {

					this.selectedQuestion = this.questionData;

					// Check if has media and set media_type acordingly
					if (this.selectedQuestion.media_id == null) {
						this.selectedQuestion.media_type = -1;
					}

					this.imageUrlInput = this.questionData.media_url;
				}
			},
			create: function() {
				// If create prop is true, initialize empty question
				if (this.questionData !== null && this.create == false) {
					// If question recieved as prop, set selectedQuestion as that question and refresh the image preview
					this.selectedQuestion = this.questionData;

				} else {
					// Else set selectedQuestion as empty and clear the image preview
					this.selectedQuestion = {
						explanation: '',
						description: '',
						media_type: -1,
						media_url: '',
						title: ''
					}
				}
			}
		}
	}
</script>

<style scoped>
	.modal-container {
		width: 350px;
	}

	#question-wrapper {
		/*width: 300px;*/
	}

	#question {
		width: 100%;
		/*width: 100%;*/
		max-width: 320px;
		margin: none;
	}

	textarea {
		display: block;
		width: 100%;
		resize: none;
	}
	
	#media-wrapper {
		transition: .5s;
		height: 100%;
	}

	#media {
		width: 60%;
	}

	#media-url {
		margin-top: 6px;
		display: flexbox;
		justify-content: space-between;
	}

	#url-input {
		margin-right: 10px;
	}

	#media-preview {
		height: 302px;
    	/*display: -webkit-box;*/
		background-color: #eff2f7;
		padding: 20px 20px;
		overflow: hidden;
	}

	.displayGrid {
		display: grid !important;
	}

	#media-preview img {
		object-fit: cover;
		max-height: 100%;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
		display: block;
	}

	.video {
		/*height: 100%;*/
		margin: none;
	}

	#footer {
		justify-content: space-between;
	}

	#save {
		width: 100px;
		margin-right: 20px;
	}

	.width {
		transition: .5s;
		width: 830px !important;
	}

	#message {
		/*opacity: 1;*/
		transition: .5s;
	}

	.hidden {
		opacity: 0;
		transition: .5s;
	}
</style>