<template>
	<div class="col__inner">
		<create :show.sync="showQuestion" @close="close" @update="getQuestions" :questionData="selectedQuestion" :create="create" :quiz="selectedQuiz"></create>

		<h1>Questions</h1>
		<div id="top-buttons">
			<button v-on:click="createQuestion" id="create-question" class="div-button">Create question</button>
			<button v-if="selectedQuestion !== null" v-on:click="editQuestion" id="edit-question" class="div-button">Edit question</button>
		</div>
		<div id="message" v-if="questions == null">
			<h2>There are no questions yet. Create some.</h2>
		</div>
		<component tag="div" @click.native="selectQuestion(question.questionData)" v-for="question in questions"  :is="question.Question" :selected="question.selected" :questionData="question.questionData" :key="question.questionData.id"></component>
	</div>
</template>

<script>
	import { api } from '@/main.js';
	import Question from '@/components/admin/questions/Show';
	import Create from '@/components/admin/questions/Create';

	export default {
		name: 'questions',
		components: {
			Question,
			Create			
		},
		props: ['show', 'quiz'],
		data() {
			return {
				create: false,
				selectedQuiz: null,
				questions: null,
				showQuestion: false,
				selectedQuestion: null
			}
		},
		methods: {
			// Closes the modal and resets create to false
			close: function() {
				this.showQuestion = false;
				this.create = false;
			},
			// 
			createQuestion: function() {
				this.create = true;
				this.showQuestion = true;
			},
			// Get questions for quiz id
			getQuestions: function() {
				var returnArray = [];
				var selected = [{ selected: false} ];
				api.get('questions/quiz/' + this.selectedQuiz.id)
				.then(response => {
					var returnData = response.data;
					// console.log(returnData);
					returnData.forEach(function(questionData) {
						returnArray.push({Question, questionData, selected});
					})
					this.questions = returnArray;
				})
				.catch(error => {
					this.questions = null;
					// console.log(error);
				});
			},
			// Triggered from emit in Show.vue. Parameter is question id.
			editQuestion: function() {
				api.get('questions/' + this.selectedQuestion.id + '/edit')
				.then(response => {
					this.selectedQuestion = response.data;
					this.showQuestion = true;
				})
				.catch(error => {
					// console.log(error);
				});
			},
			// Selects question and emits questionData to Edit.vue
			selectQuestion: function(input) {
				// console.log(input);
				this.selectedQuestion = input;
				this.questions.forEach(function(question) {
					if (question.questionData.id == input.id) {
						question.selected = true;
                    }
                    else {
                    	question.selected = false;
                    }
                });

				// Emit the id to Edit.vue
                this.$emit('select', input);
            }
        },
		watch: {
			quiz: function() {
				this.selectedQuiz = this.quiz;
				this.getQuestions();
			}
		}
	}
</script>

<style scoped>
	.content {
		width: 100%;
	}

	#top-buttons {
		padding: 20px 0px;
	}

	#top-buttons button {
		margin-right: 20px;
	}

	#message {
		padding: 10px 5px;
		text-align: center;
	}
</style>