<template>
	<div id="question" v-bind:class="{ selected: selected == true }" class="flex">
		<div id="title">
			<h2>{{ questionData.title }}</h2>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'question',
		props: ['questionData', 'selected']
	}
</script>

<style scoped>
	#question {
		padding: 20px 20px;
		min-height: 60px;
		width: 100%;
		background-color: #eff2f7;
		margin-bottom: 20px;
		justify-content: space-between;
		align-items: center;
	}

	#question:hover {
		cursor: pointer;
	}

	.selected {
		transition: .1s;
		background-color: #D3DCE6 !important;
	}
</style>