<template>
    <div id="answer">
        <div class="col__inner" v-bind:class="{ selected: selected == true }">
            <h2 v-if="answerData.answer != null">{{ answerData.answer }}</h2>
            <div v-if="answerData.image != null" id="image">
                <img v-bind:src="answerData.image">
            </div>
            <div v-if="answerData.video != null" id="video">
                <youtube :video-id="answerData.video" class="yt-video" player-width="100%"></youtube>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'answer',
        props: ['answerData', 'selected']
    }
</script>

<style scoped>
    .col__inner {
        background: #eff2f7;
        padding: 20px;
    }

    #answer {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-content: center;
        align-content: center;
        font-size: 18px;
        line-height: 22px;
        color: #1f2d3d;
    }

    #answer:hover {
        cursor: pointer;
    }

    .selected {
        transition: .1s;
        background-color: #D3DCE6;
    }

    #image {
        margin-top: 20px;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
    }

    #image img {
        object-fit: cover;
        max-height: inherit;
        max-width: 100%;
        overflow: hidden;
        margin: auto;
        display: block;
    }
</style>
