<template>
	<div id="app">
		<body>
			<header>
				<div class="flex flex-center header">
					<div class="logo">
						<a href="/">
							<img src="http://localhost/first-semester/src/assets/images/ucl_logo.png">    
						</a>            
					</div>
					<div class="flex flex-center" style="height: 100%">
						<div class="controls right" style="padding-top:0px;">					
							<button @click="showModal = true" id="login-button" >Login</button>
						</div>
					</div>
				</div>
			</header>
			<!-- Login modal -->
			<login :show.sync="showModal" @close="showModal = false"></login>
			<div>
				<div class="hero-section">
					<div class="flex flex-center">
						<div class="hero-section-header">
							<h1>Quiz-whatever</h1>
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tellus arcu. Donec luctus arcu porttitor vehicula posuere. Aliquam ut eleifend metus. Aliquam rhoncus hendrerit diam congue ullamcorper. Suspendisse sagittis tempus ex, vel ullamcorper ex blandit a.</h2>
							<router-link :to="{ name: 'quizzes' }" tag="button">Admin</router-link>
							<!--<router-link to="/login" tag="button">Login (Christian)</router-link>-->
							<router-link :to="{ name: 'quiz' }" tag="button">Quiz</router-link>
						</div>
					</div>
				</div>
			</div>
			<div id="#overblik">
				<section id="latest_quizzes">
					<div class="browse">
						<img src="http://localhost/first-semester/src/assets/images/anatomy.jpg" >
					</div>
					<div class="browse">
						<img src="http://localhost/first-semester/src/assets/images/bold.jpg" >			
					</div>
				</section>
				<section id="all_quizzes">
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/ringpen.jpg" >			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/ergoterapi.jpg" >			
					</div>
					<div class="browse">
						<img src="http://localhost/first-semester/src/assets/images/undersøkelse.jpg" >			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/aeldre.jpg" >			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/clinic.jpg">			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/ergo.jpg">			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/lege.jpg">			
					</div>
					<div class="browse" >
						<img src="http://localhost/first-semester/src/assets/images/redskaber.jpg">						
					</div>
				</section>
			</div>
			<footer>
			<!-- Footer -->
			</footer>
		</body>
	</div>
</template>

<script>
	import Navbar from '@/components/public/Navbar'
	import Login from '@/components/public/Login'

	export default {
		name: 'front-end',
		components: {
			Login
		},
		data() {
			return {
				showModal: false
			}
		}
	}
</script>

<style scoped>
	body {
		background-color: #eff2f7;
	}

	header {
		background-color: #324057;
		background-color: transparent;
		transition: 0.2s;
		position: absolute;
	}

	header button {
		height: 35px;
		line-height: 15px;
		font-size: 16px;
		text-align: center;
		display: inline-block;
		padding: 10px 15px;
		text-transform: uppercase;
		margin-top:0px;
		border-style:none;
	}

	#login-button {
		margin-right: 20px;
	}

	.hero-section {
		width: 100%;
		height: 500px;
		overflow: hidden;
		text-align: center;
		align-items: center;
		justify-content: center;
		background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(50, 64, 87, 0.3)),url(http://localhost/first-semester/src/assets/images/background.jpg) 50% no-repeat;
		background-size: cover;
		display: flex;
		margin: auto;
	}

	.hero-section-header {
		max-width: 800px;
		margin-top: 50px;
		color: #F9FAFC;
		text-shadow: 1px 1px 1px black;
	}

	.hero-section button {
		font-family: inherit;
		font-weight: 200;
		font-size: 20px;
		text-transform: uppercase;
		margin: 0px 10px;
	}

	h1 {
		font-size: 50px;
		line-height: 50px;
	}

	h2 {

		line-height: 25px;
		font-size: 20px;
		margin: 30px 40px;
	}

	#browse-button {
		font-family: inherit;
		font-weight: 200;
		font-size: 20px;
		text-shadow: none;
		display: inline-block;
		margin: 0 auto;
		padding: 18px;
		color: #eff2f7;
		background-color: #324057;
		text-transform: uppercase;
	}

	#browse-button:hover {
		background-color: #475669;
		cursor: pointer;
		opacity: 1;
		transition: 0.1s;
	}

	section {
		max-width: 800px;
		background:#ff0000;
		margin:0 auto;
		columns:50% 2;
		margin-top:30px
	}

	.browse {
		padding:10px;
	}

	#latest_quizzes .browse {
		width:50%;
		float:left;
	}

	#all_quizzes .browse {
		width:25%;
		float:left;
	}

	.browse img {
		width:100%;
	}

	footer {
		clear:both;
		max-width: 800px;
		margin:0 auto;
		height:200px;
	}

	#all_quizzes {
		clear:both;
	}
</style>