<template>
	<div id="app">
		<router-view class="view"></router-view>
	</div>
</template>

<script>
	import Navbar from '@/components/public/Navbar'
	import Login from '@/components/public/Login'

	export default {
		name: 'front-end',
		components: {
			Login
		},
		data() {
			return {
				showModal: false
			}
		}
	}
</script>

<style scoped>
	.top-bar {
		height: 50px;
		width: 100%;
		background: #eff2f7;
		vertical-align: middle;
		line-height: 50px;
		padding: 0px 20px;
	}

	header {
		background-color: #324057;
		transition: 0.2s;
		background: -moz-linear-gradient(top, rgba(50, 64, 87, 0.8), rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top, rgba(50, 64, 87, 0.8), rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(50, 64, 87, 0.8), rgba(0,0,0,0) 100%);
	}

	#login {
		color: #eff2f7;
		background-color: #324057;
		line-height: 15px;
		height: 35px;
		font-size: 18px;
		font-style: normal;
		cursor: pointer;
		padding: 10px 15px;
		display: inline-block;
		margin: 0 auto;
	}

	#login:hover {
		background-color: #475669;
		color: #eff2f7;
		cursor: pointer;
		opacity: 1;
		transition: 0.1s;
	}

	.controls {
		display: flex;
		align-items: center;
		align-content: middle;
		margin-right: 20px;
	}

	.hero-section {
		width: 100%;
		height: 500px;
		overflow: hidden;
		text-align: center;
		align-items: center;
		justify-content: center;
		background: url('http://localhost/first-semester/src/assets/images/background.jpg') 50% no-repeat;
		background-size: cover;
		display: flex;
		margin: auto;
	}

	.hero-section-header {
		margin-top: 50px;
		color: #F9FAFC;
		text-shadow: 1px 1px 2px black;
	}

	h1 {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 20px;
	}

	h2 {
		line-height: 25px;
		font-size: 20px;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	#browse-button {
		font-family: inherit;
		font-weight: 200;
		font-size: 20px;
		text-shadow: none;
		display: inline-block;
		margin: 0 auto;
		padding: 18px;
		color: #eff2f7;
		background-color: #324057;
		text-transform: uppercase;
	}

	#browse-button:hover {
		background-color: #475669;
		cursor: pointer;
		opacity: 1;
		transition: 0.1s;
	}
</style>