<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" @click.stop>
					<div class="modal-header">
						<slot name="header">
							Login
						</slot>
					</div>
					<div class="modal-body">
						<slot name="body">
							<div class="error-message"></div>  
							<input type="text" name="user" placeholder="Email" v-model="loginEmail">  
							<input type="password" name="password" placeholder="Password" v-model="loginPassword">  
							<button id="loginSubmit" v-on:click.prevent="doLogin()" class="div-button">Login</button>
						</slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import { api } from '@/main.js';

	export default {
		name: 'login',
		props: ['show'],
		data() {
			return {
				counter: 0,
				loginEmail: '',
				loginPassword: ''
			}
		},
		methods: {
			doLogin: function(event) {
				var c = this;
				console.log(this.loginEmail+','+this.loginPassword);
				var email = this.loginEmail;
				var password = this.loginPassword;
				var auth_string = 'Basic ' + btoa(email + ':' + password);

				api.post('auth','',{
					headers: {
						'Authorization': auth_string,
					}
				}).then(function(response) {
					console.log(response);
					if ( response.data.message == "authenticated" ) {
						var id = response.data.info.id;
						var token = response.data.info.token;
						localStorage.setItem('id',id);
						localStorage.setItem('api_token',token);
						c.close();
					}
				}).catch(function(error){
					console.log(error);
				});

			},

			close: function () {
				this.$emit('close');
			}
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		}
	}
</script>

<style scoped>
	.modal-wrapper {
		margin-top: 100px;
		display: block;
	}

	.modal-container {
		width: 340px;
	}

	.modal-body input {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #eeeeee;
	}

	.modal-body input[type="submit"] {
		color: #eff2f7;
		border: 0;
		margin-bottom: 0;
		background-color: #324057;
		cursor: pointer;
	}

	.modal-body input[type="submit"]:hover {
		background-color: #475669;
	}

	.modal-body input[type="submit"]:active {
		background-color: #324057;
	}

	#loginSubmit {
		width: 100%;
	}
</style>