<template>
    <header>
        <div class="flex flex-center header">
            <div class="logo">
                <a href="/">
                    <img src="http://localhost/first-semester/src/assets/images/ucl_logo.png" alt="UCL">
                </a>            
            </div>
            <div>
                <!-- <div class="left">
                    <input type="search" class="search" placeholder="Search...">
                </div>

                <div class="controls right">
                    <i class="fa fa-cog" aria-hidden="true" title="Settings"></i>
                    <i class="fa fa-sign-out" aria-hidden="true" title="Log out"></i>
                </div> -->
            </div>
        </div>

    </header>
</template>

<script>
    export default {
      name: 'navbar'
  }
</script>

<style scoped>
    .logo {
        height: 60px;
        padding: 4px 10px;
    }

    .logo img {
        max-height: 100%;
        max-width: 100%;
    }

    .top-bar {
        height: 50px;
        width: 100%;
        background: #eff2f7;
        vertical-align: middle;
        line-height: 50px;
        padding: 0px 20px;
    }
    
    .controls {
        display: flex;
        align-items: center;
        align-content: middle;
        margin-right: 20px;
    }

    .controls i {
        font-size: 25px;
        color: #E5E9F2;
        margin-left: 10px;
    }

    .controls i:hover {
        cursor: pointer;
        opacity: .5;
        transition: 0.1s;
    }
</style>