<template>
	<div id="question">
		<h1>{{ questionData.question }}</h1>
		<div v-if="questionData.image != null " id="image">
			<img v-bind:src="questionData.image">
		</div>
		<div v-if="questionData.video != null" id="video">
			<youtube :video-id="questionData.video"></youtube>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'question',
		props: ['questionData']
	}
</script>

<style scoped>
	h1 {
		font-size: 30px;
		color: #1f2d3d;
	}

	#image {
        margin-top: 20px;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
    }

    #image img {
        object-fit: cover;
        max-height: inherit;
        max-width: 100%;
        overflow: hidden;
        margin: auto;
        display: block;
    }

    #video {
    	width: 100%;
		min-width: 500px;
    	margin-top: 40px;
    }
</style>