<template>
    <div id="app">
        <navbar></navbar>
        <body>
            <div id="top-bar">
                <div class="flex flex-center">
                    <h1>!!!! Mockup quiz - for illustration puposes !!!!</h1>
                </div>
            </div>
            <div class="container">
                <div v-if="finished == false">
                    <div>
                        <component tag="div" id="question" v-for="question in question" :is="question.Question" :questionData="question.data" :key="question.question_id"></component>
                    </div>
                    <div id="answers" class ="grid-2">
                        <component tag="div" id="answer" class="col answer" @click.native="selectAnswer(answer.data.answer_id)" v-for="answer in answers" :is="answer.Answer" :selected="answer.selected" :answerData="answer.data" :key="answer.id"></component>
                    </div>
                    <div id="footer">
                        <button id="submitButton" class="button" @click="submitAnswer">Submit</button>
                    </div>
                </div>
                <div v-if="finished == true" class="grid-1" id="finished">
                    <h1 id="complete">Quiz completed!</h1>
                    <div id="results" class="col" v-for="result in results">
                        <div id="result">
                            <h2>Question {{ result[0].question_id+1 }}: {{ result[0].correct }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>
</template>

<script>
    import Navbar from '@/components/public/Navbar'
    import Answer from '@/components/public/Answer'
    import Question from '@/components/public/Question'

    import { api } from '@/main.js';

    export default {
        name: 'quiz',
        components: {
            Navbar,
            Question,
            Answer
        },
        data() {
            return {
                quiz: [],
                question: [],
                questionData: [
                    { question_id: 1, title: "2 + 2", question: "", video: "lbY0g6IWkfA" },
                    { question_id: 0, title: "4 + 4", question: "Before we can get started, we have to help the lady get up. How should we do this?", image: "http://i.imgur.com/Q01GNym.png" },
                    { question_id: 2, title: "8 + 8", question: "Integer vel pharetra diam, id bibendum elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat vehicula pharetra. Suspendisse.", 
                        //video: "puGA2N5pxeI"
                        image: "https://www.eastwick.edu/images/photos_programPages_smaller/healthcareAssociateDegrees/ota-occupational-therapy-assisting-personal-training-assistant-eastwick-college.jpg"
                     },
                    { question_id: 3, title: "20 + 20", question: "Integer vel pharetra diam, id bibendum elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat vehicula pharetra. Suspendisse." }
                ],
                answers: [],
                answerData: [
                    { question_id: 1, answer_id: 1, answer: "", image: "http://www.topoccupationaltherapyschool.com/wp-content/uploads/2016/03/Occupational-Therapy-Schools.jpg", correct: 0 },
                    { question_id: 1, answer_id: 2, answer: "", image: "http://gazettereview.com/wp-content/uploads/2015/08/occupational-therapy.jpg", correct: 0 },
                    { question_id: 1, answer_id: 3, answer: "", image: "http://www.pdresources.org/blog_data/wp-content/uploads/2014/04/montana-occupational-therapy-continuing-education-and-license-renewals.jpg", correct: 0 },
                    { question_id: 1, answer_id: 4, answer: "", image: "http://www.ecmc.edu/wp-content/uploads/2015/06/ecmc-medical-rehabilitation-occupational-therapy-header-inset-2.jpg", correct: 1 },
                    { question_id: 0, answer_id: 5, answer: "One way", correct: 0 },
                    { question_id: 0, answer_id: 6, answer: "The correct way", correct: 1 },
                    { question_id: 0, answer_id: 7, answer: "A third way", correct: 0 },
                    { question_id: 0, answer_id: 8, answer: "Another way", correct: 0 },
                    { question_id: 2, answer_id: 9, answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", correct: 0 },
                    { question_id: 2, answer_id: 10, answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", correct: 1 },
                    { question_id: 2, answer_id: 11, answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", correct: 0 },
                    { question_id: 2, answer_id: 12, answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", correct: 0 },
                    {
                        question_id: 3,
                        answer_id: 14,
                        correct: 1,
                        video: "8BcPHWGQO44"
                    },
                    {
                        question_id: 3,
                        answer_id: 15,
                        correct: 0,
                        video: "4HmUbgG1rLg"
                    },
                ],
                selectedAnswer: null,
                progress: 0,
                userAnswers: [],
                finished: false,
                results: []
            }
        },
        methods: {
            loadQuiz: function() {
                api.get('quizzes').then(response => {
                    this.quiz = response.data[0];
                })
                .catch(error => {
                    console.log(error);
                });
            },
            loadQuestion: function(question_id) {
                var returnArray = [];
                this.questionData.forEach(function(data) {
                    if (data.question_id == question_id) {
                        returnArray.push({Question, data});
                    }
                });
                this.question = returnArray;
            },
            loadAnswers: function(question_id) {
                var returnArray = [];
                var selected = [{selected: false}];
                this.answerData.forEach(function(data) {
                    if (data.question_id == question_id) {
                        returnArray.push({Answer, data, selected});
                    }
                });
                this.answers = returnArray;
            },
            selectAnswer: function($input) {
                this.selectedAnswer = $input;
                this.answers.forEach(function(answer) {
                    if (answer.data.answer_id == $input) {
                        answer.selected = true;
                    }
                    else {
                        answer.selected = false;
                    }
                });
            },
            submitAnswer: function() {
                var answer_id = this.selectedAnswer;
                var returnArray = [];
                var questionCount = this.questionData.length;
                var question_id = this.progress;
                var correct_id;

                this.answers.forEach(function(answer) {
                    if (answer.data.answer_id == answer_id) {
                        if (answer.data.correct == true) {
                            returnArray.push({question_id: answer.data.question_id, correct: 'Correct'});
                        } else {
                            returnArray.push({question_id: answer.data.question_id, correct: 'Incorrect'});
                        }
                    }
                });

                this.results.push(returnArray);

                if (question_id == questionCount-1) {
                    this.finished = true;
                    console.log(this.results);
                } else {
                    this.userAnswers.push(returnArray);
                    this.progress++;
                    this.loadQuestion(this.progress)
                }
            },
            getResults: function() {
                var returnArray = [];
                this.userAnswers.forEach(function(answer) {
                    if (answer.correct == true) {
                        returnArray.push({question_id: answer.question_id + 1, correct: true})
                    } else {
                        returnArray.push({question_id: answer.question_id + 1, correct: false})
                    }
                })
                this.results = returnArray;
            }
        },
        watch: {
            question: function($progress) {
                this.loadAnswers(this.question[0].data.question_id);
            }
        },
        mounted () {
            this.loadQuiz();
            this.loadQuestion(this.progress);
        }
    }
</script>

<style scoped>
    body {
        margin-top: 70px;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    #top-bar {
        background-color: #eff2f7;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    #top-bar h1 {
        color: #1f2d3d;
        font-size: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #question {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 40px 60px;
    }

    #finished {
        display: flex;
        transition: .2s;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #complete {
        margin: 40px;
    }

    #results {
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: auto;
        width: 200px;
    }

    #result {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 30px;
        color: #1f2d3d;
    }

    h2 {
        font-size: 20px;
        color: #1f2d3d;
    }
    
    #answers {
        width: 100%;
        min-width: 600px;
        padding: 0px 20px;
        display: inline-flex;
    }
    
    #answer:hover {
        cursor: pointer;
    }

    #footer {
        width: 100%;
        height: 140px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
    }

    #submitButton {
        margin-bottom: 10px;
        width: 200px;
        height: 60px;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        text-transform: uppercase;
    }
</style>
