<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" @click.stop>
					<div class="column-4">
						<h2>
							Name: 
						</h2>
						<div>
							<input type='text' v-model="selectedStudent.name">
						</div>
					</div>
					<div class="column-4">
						<h2>
							Slug:
						</h2>
						<div>
							<input type='text' v-model="selectedStudent.slug">
						</div>
					</div>
					<div class="column-4">
						<h2>
							Description:
						</h2>
						<div>
							<div>
								<input type='text' v-model="selectedStudent.description">
							</div>
						</div>
					</div>
					<div class="column-4">
						<h2>
							Class
						</h2>
						<div>
							<div>
								<select v-model="selectedStudent.theClass">
									<option v-for="theClass in classes" v-bind:value="theClass.name">
										{{ theClass.name }}
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="column-4">
						<button v-on:click="saveClass();">
							{{ this.modalFunction }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import {api} from '../main.js';

	export default {
		name: 'Add-student',
		props: ['show','selectedStudent','students','modalFunction'],
		data() {
			return {
				counter: 0,
				classes: [],
				theClass: '',
				selectedClass: '',
			}
		},
		methods: {
			getClasses: function() {
				api.get('topics').then(response => {
					this.classes = response.data;
				})
				.catch(error => {
					console.log(error);
				});
			},
			close: function () {
				this.$emit('close');
			},
			saveClass: function() {
				if ( this.modalFunction == "create" ) {
					this.students.push(this.selectedStudent);
				}
				this.close();
			},
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});

			this.getClasses();

		}
	}
</script>

<style scoped>
select {
	width:200px;
}


</style>
