<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" @click.stop>
					<div class="column-4">
						<h2>
							Name: 
						</h2>
						<div>
							<input type='text' v-model="selectedTopic.name">
						</div>
					</div>
					<div>
						<h2>
							Description:
						</h2>
						<div>
							<div>
								<input type='text' v-model="selectedTopic.description">
							</div>
						</div>
					</div>


					<div>
						<button v-on:click="saveTopic();">
							{{ saveButtonText() }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import {api} from '../main.js';

	export default {
		name: 'Add-topic',
		props: ['show','selectedTopic'],
		data() {
			return {
				//counter: 0,
			}
		},
		methods: {
			close: function () {
				this.$emit('close');
			},
			saveTopic: function() {
				if ( this.selectedTopic.length == 0 ) {
					var c = this;
					const data = new FormData();
					data.append('description',this.selectedTopic.description);
					data.append('name',this.selectedTopic.name);
					data.append('slug',this.selectedTopic.name);

					api.post('topics', data)
					.then(response => {
						console.log(response.data);
						c.$parent.getTopics();
						c.close();
					})
					.catch(error => {
						console.log(error);
					});
				}
				else {
					var c = this;
					var data = new URLSearchParams();
					data.append('description',this.selectedTopic.description);
					data.append('name',this.selectedTopic.name);
					data.append('slug',this.selectedTopic.slug);

					api.put('topics/'+this.selectedTopic.slug, data)
					.then(response => {
						console.log(response.data);
						c.$parent.getTopics();
						c.close();
					})
					.catch(error => {
						console.log(error);
					});

					
					/*var r = new XMLHttpRequest();
					r.open("PUT","http://localhost/first-semester/api/index.php/topics/"+this.selectedTopic.slug,true);
			        //r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			        //r.setRequestHeader("X-Requested-With", "XMLHttpRequest");					
			        r.onreadystatechange = function () {
					  if (r.readyState != 4 || r.status != 200) return;
					  console.log("Success: " + r.responseText);
						 c.$parent.getTopics();
						 c.close();
					};
					r.send(data);*/

				}
			},
			saveButtonText: function() {
				if ( this.selectedTopic.length == 0 ) return 'create';
				else return 'update';
			}
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		}
	}
</script>