<template>
	<transition name="modal">
		<div class="modal-mask" @click="close" v-show="show" transition="modal">
			<div class="modal-wrapper">
				<div class="modal-container" @click.stop>
					<div class="column-4">
						<h2>
							Name: 
						</h2>
						<div>
							<input type='text' v-model="selectedClass.name">
						</div>
					</div>
					<div class="column-4">
						<h2>
							Slug:
						</h2>
						<div>
							<input type='text' v-model="selectedClass.slug">
						</div>
					</div>
					<div>
						<h2>
							Description:
						</h2>
						<div>
							<div>
								<input type='text' v-model="selectedClass.description">
							</div>
						</div>
					</div>
					<div>
						<button v-on:click="saveClass();">
							{{ saveButtonText() }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import {api} from '../main.js';

	export default {
		name: 'Add-class',
		props: ['show','selectedClass'],
		data() {
			return {
				counter: 0,
			}
		},
		methods: {
			close: function () {
				this.$emit('close');
			},
			saveClass: function() {
			},
			saveButtonText: function() {
				if ( !this.selectedClass ) return 'create';
				else return 'update';
			}
		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				if (this.show && e.keyCode == 27) {
					this.close();
				};
			});
		}
	}
</script>