<template>
    <div id="app">
        <navbar></navbar>
        <sidebar></sidebar>
        <router-view></router-view>
    </div>
</template>

<script>
    import Classes from '@/components/admin/Classes.vue'
    import Navbar from '@/components/public/Navbar.vue'
    import Quizzes from '@/components/admin/quizzes/Quizzes'
    import Sidebar from '@/components/admin/Sidebar.vue'
    import Students from '@/components/admin/Students.vue'
    import Topics from '@/components/admin/Topics.vue'
    
    export default {
        components: {
            Classes,
            Navbar,
            Quizzes,
            Sidebar,
            Students,
            Topics            
        },
        name: 'app'
    }

</script>